<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <p>User name: <input type="text" name="user"><br></p>
    <p><a href="/game/memory"><button class="button button-outline">Join "Memory"</button></a></p>
  </div>
</div>